# Pandas tiny data demo

In [2]:
# %load imports
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
import seaborn as sns
sns.set()

In [11]:
df = pd.DataFrame([
    [.1, .2],
    [.30939293, .3923884745747],
])

In [12]:
df

          0         1
0  0.100000  0.200000
1  0.309393  0.392388

In [18]:
df.loc[1,1]

0.3923884745747

In [13]:
df[2] = df[0] + df[1]
df

          0         1         2
0  0.100000  0.200000  0.300000
1  0.309393  0.392388  0.701781

In [19]:
df.loc[1,2]

0.7017814045747

In [17]:
df.dtypes

0    float64
1    float64
2    float64
dtype: object